<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="header" class="flex-between">
		<h1>Nestify</h1>
	    <nav>
	        <ul class="flex-center">
	            <li class="main-nav-item"><a th:href="@{/}">Home</a></li>
	            <li class="main-nav-item"><a th:href="@{/signup}">Sign Up</a></li>
	            <li class="main-nav-item"><a th:href="@{/signin}">Sign In</a></li>
	        </ul>
	    </nav>
	</div>
</body>
</html>