@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: linear-gradient(to bottom, #333, #2c3e50);
	color: #f5f5f5;
	background-color: #2c3e50;
}

a {
	color: inherit;
}

/* 헤더 스타일 */
header {
	color: #fff;
	padding: 10px 30px;
	text-align: center;
}

/* 푸터 스타일 */
footer {
	text-align: center;
	padding: 10px 0;
}

.container {
	display: flex;
	flex: 1;
	align-items:center;
	padding: 15px 20px 50px 20px;
}

.main-nav-item {
	margin: 0 1rem 0 1rem;
	text-align: center;
}

.content-center {
	margin: 12rem auto;
	max-width: 50rem;
	text-align: center;
}

h1#mainTitle {
	font-size: 8rem;
}

#mainDescription {
	font-style: italic;
	display: block;
	margin-top: -20px;
}