<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mainLayout}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title"> Nestify : Signin </title> 
    <th:block th:fragment="extraStyles">
        <link rel="stylesheet" th:href="@{/css/main/main.css}">
        <link rel="stylesheet" th:href="@{/css/main/signup.css}">
    </th:block>
   </head>
<body>
  <div class="wrapper" layout:fragment="content" id="signin">
    <h2>Signin</h2>
    <form action="/signin" method="post">
      <div class="input-box">
        <input id="email" name="email" type="text" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input id="password" name="password" type="password" placeholder="Enter your password" required>
      </div>
      <div>
      	<p th:text="${errorMsg}"></p>
      </div>
      <div class="input-box button">
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
</body>
</html>