<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - <span layout:fragment="title"></span></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/nest/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/nest/edit-panel.css}">
    <link rel="icon" th:href="@{/images/system/favicon.ico}">
    <th:block th:replace="~{::extraStyles}"></th:block>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script th:inline="javascript">
	    const userId = '[[${session.user.userId}]]';
	    const contextPath = '[[@{/}]]';
	</script>


</head>
<body>
	<div class="flex-between">
	
		<div class="flex">
		    <!-- Sidebar Section -->
		    <nav>
		    	<th:block th:replace="~{nest/include/sidebar :: sidebar}"></th:block>    
		    </nav>
		
		    <!-- Main Content Section -->
		    <main class="main-content">
		        <div layout:fragment="content">
		            <!-- 페이지별로 이곳에 콘텐츠가 들어갑니다 -->
		        </div>
		    </main>
		
		</div>
		
	    <div class="edit-panel">
	    	<th:block th:replace="~{nest/include/edit-panel :: edit-panel}"></th:block>
	    </div>
		
	</div>

</body>
</html>
