.main-content {
	padding: 20px;
	min-height: 100vh; /* 콘텐츠가 부족할 경우에도 최소한 화면 높이에 맞게 설정 */
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.search-bar {
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.add-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	width: 100px;
	padding: 10px 20px;
	background-color: #2c3e50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	padding: 10px 20px;
	position: relative;
}

.add-button:hover {
	background-color: #34495e;
}

.search-btn {
	font-size: 16px;
	width: 100px;
	padding: 10px 20px;
	background-color: #76787a;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
	padding: 10px 20px;
}

.search-btn:hover {
	background-color: #8f9194;
}

#selectedCollection {
	display: flex;
	align-items: center;
	margin: 0 0 12px 5px;
}

#selectedCollectionIcon {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	margin-right: 8px;
}

#selectedCollectionName {
	font-weight: 600;
	font-size: 1.5rem;
}

.bookmark-container {
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bookmark-item {
	display: flex;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.bookmark-item:last-child {
	border-bottom: none;
}

.bookmark-thumbnail>img {
	width: 50px;
	height: 50px;
	background-color: #ccc;
	margin-right: 20px;
	border-radius: 4px;
}

.bookmark-details {
	flex-grow: 1;
}

.bookmark-title {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.bookmark-title a {
	color: #333;
}

.bookmark-info {
	font-size: 14px;
	color: #666;
}

.bookmark-actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

.bookmark-actions button {
	background-color: #007bff;
	border: none;
	padding: 8px 12px;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}

.bookmark-actions button.edit {
	background-color: #28a745;
}

.bookmark-actions button.delete {
	background-color: #dc3545;
}

/* Bookmark 모달 컨텐츠 */
.bookmark-modal-content {
	display: none;
	position: absolute;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 400px;
	z-index: 1000;
	margin-top: 5px;
}

/* Bookmark 모달 인풋 필드 */
.bookmark-modal-content input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Bookmark 모달 버튼 */
.bookmark-modal-content button {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.bookmark-modal-content button:hover {
	background-color: #0056b3;
}

.bookmark-modal-content button[disabled] {
	background-color: #ccc; /* 배경색을 회색으로 변경 */
	color: #666; /* 텍스트 색상을 흐리게 변경 */
	opacity: 0.7; /* 버튼을 더 흐리게 표시 */
	cursor: default;
}

.bookmark-modal-content button[disabled]:hover {
	background-color: #ccc; /* 배경색을 회색으로 변경 */
}

.filter-container {
	position: relative;
	display: inline-block;
	margin: 20px;
}

.filterbtn {
	background-color: #e2e4e6;
	color: #333;
	font-size: 16px;
	border: none;
	cursor: pointer;
	padding: 10px 16px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.filterbtn svg.icon {
	width: 20px;
	height: 20px;
}

.filter-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 200px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	z-index: 1;
	border-radius: 4px;
	padding: 10px 0;
	margin-top: 5px;
	right: 0;
}

.filter-content label {
	color: #333; display : flex;
	align-items: center;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 14px;
	display: flex;
}

.filter-content label:hover {
	background-color: #f9f9f9;
}

.filter-content label input {
	margin-right: 10px;
}

.filter-content label svg.icon {
	margin-right: 8px;
	width: 16px;
	height: 16px;
}

.dropdown:hover .filter-content {
	display: block;
}

input[type="radio"] {
	cursor: pointer;
}