<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/dashboardLayout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title layout:fragment="title">All bookmarks</title>
<th:block th:fragment="extraStyles">
    <link rel="stylesheet" th:href="@{/css/nest/dashboard.css}">
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="header">
			<input type="text" placeholder="Search..." class="search-bar">
			<button class="add-button" id="open-bookmark-modal"><svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
 												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12h14m-7 7V5"/>
										</svg>
			Add</button>
		</div>
		<div id="bookmarksList" class="bookmark-container">
		</div>
			
        <!-- Bookmark 모달 구조 -->
        <div class="bookmark-modal-content" id="bookmark-modal">
            <label for="url">URL</label>
            <input type="text" id="bookmark-url" placeholder="https://example.com">
            <button id="add-to-unsorted" disabled="disabled">Add to Unsorted</button>
        </div>
	    <script type="text/javascript" src="js/nest/dashboard.js"></script>
	    
	</div>
</body>
</html>
