@charset "UTF-8";

/* 모든 요소의 기본 박스 모델을 border-box로 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 기본 HTML 요소 스타일 */
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
/*     height: 100%; */
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


/* Flexbox 유틸리티 클래스 */
.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
